table,
th,
td {
  border: 0px !important;
}

tr {
  transition: all 0.5s ease;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  --bs-table-accent-bg: #fff !important;
}

.bb-fw {
  border-bottom: none !important;
  white-space: nowrap;
  font-weight: bold !important;
}

.w-texttttt {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  white-space: nowrap;
}

.media-body {
  padding: 15px 0;
}

.crrrr {
  text-align: center;
  width: 45px;
  padding: 3px;
  background-color: green;
  border-radius: 100px;
  color: white;
}

.drrrr {
  text-align: center;
  width: 45px;
  padding: 3px;
  background-color: red;
  border-radius: 100px;
  color: white;
}

tr {
  border-bottom: 2px solid #f1f1f1 !important;
}

